body {
    font-family: $font-ubuntu, sans-serif;
    background-color: $white;
    color: $black;
}

@media (prefers-color-scheme: dark) {
    body {
      background-color: $black;
      color: $white;
    }
}